{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'css/minStyle.css' %}" rel='stylesheet'>
{% endblock %}

{% block content %}
<div class="container-fluid bg-primary py-3">
    <div class="container">
        <div class='p-4'>
            <h5 class="text-light title">Appiontments.</h5> <a class="text-white addNew" href="#">Add new</a>
        </div>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="width: 16.66%">Name</th>
                <th scope="col">Request</th>
                <th scope="col" style="width: 13%">State</th>
                <th scope="col" style="width: 16.66%">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
              <tr class="text-white">
                <th scope="row" style="width: 15%">{{appointment.patient.first_name}}</th>
                <td>{{appointment.request}}</td>
                <td style="width: 13%">Wating</td>
                <td style="width: 15%">
                  <div class="d-inline-flex align-items-center">
                    <a class="text-white" href="{% url 'appointmentUpdate' appointment.id %}" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" width="18px" height="18px">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>
                    </a>
                    <a class="text-white px-3" href="{% url 'appointmentReschedule' appointment.id %}" title='Reschedule'><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" width="18px" height="18px">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </a>
                    <a href="" class="text-white" title="Cancel"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" width="18px" height="18px">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}